<div *ngIf="person">
  <h3>{{ person.name }}</h3>
  <form #editForm="ngForm" (ngSubmit)="save()">
    <div>
      <label>Id:</label>
      {{ person.id }}
    </div>
    <div>
      <label>Name:</label>
      <input #name="ngModel" [(ngModel)]="person.name" id="name" name="name" placeholder="Name" required/>
      <div [hidden]="name.valid || name.pristine" style="color: #de4e4e;">El campo Nombre es requerido</div>
    </div>
    <div>
      <label>Phone:</label>
      <input [(ngModel)]="person.phone" id="phone" name="phone" placeholder="Phone"/>
    </div>
    <fieldset>
      <legend>Address:</legend>
      <address>
        <input [(ngModel)]="person.address.street" id="street" name="street"><br/>
        <input [(ngModel)]="person.address.city" id="city" name="city">,
        <input [(ngModel)]="person.address.state" id="state" name="state" size="2">
        <input [(ngModel)]="person.address.zip" id="zip" name="zip" size="5">
      </address>
    </fieldset>
    <button [disabled]="!editForm.form.valid" id="save" type="submit">Save</button>
    <button (click)="cancel()" id="cancel">Cancel</button>
  </form>
</div>

